@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/*//////////////////////    RESET     ////////////////*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
  font-family: sans-serif;
}

.hero {
  /* width: 100%; */
  width: 100vw;
  margin-bottom: 60px;
}
/*/ ////*/

/*/ /////////////////////   COMMON    ////////////////*/
img {
  width: 100%;
}

.title h3 {
  color: black;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
}

.subtitle {
  font-size: 23px;
  line-height: 1.4;
}

.hero {
  margin-bottom: 70px;
}

.article .text {
  justify-content: unset;
  color: black;
}

.article .article-title {
  font-size: 31px;
  font-weight: 500;
}

.article--colorful-bg {
  background: green;
}

.article--colorful-bg .text {
  color: white;
}

/*/ ////*/

/*/ /////////////  Education level LIST    //////////*/
.education-level-list {
  display: grid;
  justify-content: center;
  grid: auto/repeat(auto-fit, minmax(200px, 595px));
  gap: 5px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 80px;
}

.education-level-item .image {
}

.education-level-item .title-container {
  background: #1e4085;
  padding: 15px 25px;
}

.education-level-item .title {
  font-size: 35px;
  text-transform: none;
  color: #fdc723;
  font-weight: bold;
  margin-bottom: 15px;
}

.education-level-item .subtitle {
  color: white;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.education-level-item .more-btn {
  font-size: 15px;
  text-transform: none;
  color: #fdc723;
  text-decoration: underline;
}
/*/ ////*/

/*//////////////   NAV    //////////*/
.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  background: #ffd24a;
  height: 70px;
}

.topbar-nav {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  justify-content: flex-end;
  padding-right: 70px;
  color: #002f90;
  margin: 0 auto 2px auto;
}

.student-guide {
  border-right: 1px solid #002f90;
  padding-right: 20px;
}

.navbar {
  height: 110px;
  display: flex;
  flex-wrap: wrap;
}

.navbar-item {
  position: relative;
  text-align: center;
}

.navbar-item--dropdown:hover {
}

/* .navbar-item--dropdown ul {
  position: absolute;
  padding: 0;
  left: 0;
  display: none;
}

.navbar-item--dropdown:hover ul {
  display: block;
} */

.navbar-item--dropdown .navbar-sub-menu {
  display: none;
  padding: 0;
  position: absolute;
  left: -1px;
}

.navbar-item--dropdown:hover .navbar-sub-menu {
  display: block;
  z-index: 2;
  background: white;
  padding: 10px 10px;
      left: -33px;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 100%;
  align-items: center;
}

.navbar-end {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  height: 100%;
  flex-wrap: wrap;
}

.navbar-menu {
  display: flex;
  list-style: none;
  color: #002f90;
  font-size: 17px;
  gap: 35px;
  font-weight: bold;
}

.schedule-button {
  color: white;
  background: #002f90;
  padding: 6px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*/ ////*/

/*/ /////////////////////////     AGENDE SUA VISITA    ////////////////////////*/
.agende-sua-visita .text-content {
  text-align: left;
  max-width: 344px;
}

.agende-sua-visita .title {
  font-size: 35px;
}

.agende-sua-visita .form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.agende-sua-visita .input {
  background: #d7d785;
  border-radius: 5px;
  border: none;
  height: 25px;
  width: 100%;
}

.agende-sua-visita.submit-schedule-button {
  background: yellow;
  border-radius: 6px;
  border: 0;
}
/*/////*/

/*/ /////////////////////////           PROJETOS          ////////////////////////*/
.projects {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 80px;
}

.projects .project-list {
  display: grid;
  justify-content: center;
  grid: auto/repeat(auto-fit, minmax(min-content, 395px));
  gap: 5px;
}

.projects .title-subtitle {
  display: flex;
  gap: 70px;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.projects .project-item {
  display: flex;
  border: 2px solid black;
}
/*/////*/

/*/ /////////////////////////     SÓCIO INTERACIONISTA    ////////////////////////*/
.interacionist-partner {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 80px;
}

.interacionist-partner .article {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.interacionist-partner .title {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
}

.interacionist-partner .content {
  gap: 40px;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(min-content, 500px));
  justify-content: center;
}

.interacionist-partner .image {
  gap: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.interacionist-partner .highlighted {
  font-size: 35px;
  margin-left: 10px;
  font-style: normal;
}

.interacionist-partner .text {
  flex: 1;
  font-size: 17px;
  font-weight: 500;
}

/*/ /////////////////////////     MATRÍCULAS ABERTAS    ////////////////////////*/
.open-enrollment {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
  display: grid;
  justify-content: center;
  grid: auto/repeat(auto-fit, minmax(min-content, 625px));
  gap: 5px;
}

.open-enrollment .title {
  font-size: 45px;
  color: black;
  max-width: 90px;
  font-weight: bold;
}

.open-enrollment .action {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #d6e0f4;
  justify-content: flex-end;
  padding: 40px;
}

.open-enrollment .schedule-visit {
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  width: 360px;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: #15387f;
}
/*/ ////*/

/*/ /////////////////////////     PARCEIROS    ////////////////////////*/
.partners {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

.partners .partners-list {
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 80px;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(auto, 135px));
}
/*/ ////*/

/*/ /////////////////////////     FOOTER    ////////////////////////*/
.footer {
  font-size: 15px;
  display: flex;
  background: #464646;
  color: white;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 140px;
}

.footer .footer-wrapper {
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  display: flex;
}

.footer .channel-menu {
  display: flex;
  flex-direction: column;
  color: yellow;
  list-style: none;
  gap: 10px;
}

.footer .phones {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.footer .phones .title {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.footer .pages-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.footer .footer-start {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer .footer-center {
  display: flex;
  align-items: flex-end;
  margin-bottom: -40px;
}

.footer .footer-end {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.footer .enroll {
  background: #ffc253;
  display: flex;
  height: 32px;
  justify-content: center;
  border-radius: 10px;
  width: 190px;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #424242;
  padding: 0;
  margin-bottom: 60px;
}

.footer .social-medias {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  list-style: none;
}

.footer .social-medias img {
  max-width: 25px;
  width: fit-content;
}

.footer .whatsapp-btn {
  margin-top: 40px;
}

.footer .whatsapp-btn img {
  width: 70px;
}

.footer .sectors {
  display: flex;
  gap: 20px;
}

.footer .sectors-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footer .sectors-item {
  text-align: right;
}
/*/ ////*/

/*/ /////////////////////////     NOSSA HISTÓRIA    ////////////////////////*/
.our-history {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 80px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 40px;
}

.our-history .title-subtitle {
  flex: 1;
}

.our-history .title {
  margin-bottom: 30px;
}
/*/ ////*/

/*//////////// ENSINO INFANTIL ////////////*/

.ensino-infantil .article {
  gap: 50px;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(min-content, 500px));
  justify-content: center;
}

.ensino-infantil .image,
.ensino-infantil .text {
  flex: 1;
}

.ensino-infantil .article-title {
  font-size: 26px;
  margin-bottom: 30px;
}

.ensino-infantil .articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}

.ensino-infantil .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ensino-infantil .pages-menu {
  display: flex;
  background: green;
  width: fit-content;
  padding: 8px 25px;
  border-radius: 13px;
  color: white;
  gap: 15px;
  align-self: flex-end;
}

.ensino-infantil .pages-menu-item {
  border-right: 1px solid;
  padding-right: 14px;
}

.ensino-infantil .pages-menu-item:last-child {
  border: none;
}

.ensino-infantil {
}
/*/ ////*/

/*//////////// REGISTRATION ////////////*/

.registration .topics {
  display: grid;
  gap: 10px;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
  justify-content: center;
}

.registration .welcome .title {
  background: darkred;
  padding: 20px 40px;
  font-size: 28px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.registration .text-1 {
  padding: 25px 30px;
  color: darkblue;
}

.registration .text-2 {
  background: purple;
  color: white;
  padding: 25px 30px;
}

.registration .roseland-family .title {
  color: wheat;
  font-size: 29px;
  background: #42428d;
  padding: 20px;
  height: 82px;
  font-weight: 500;
}

.registration .roseland-family .content {
  background: #4a68bd;
  padding: 25px 30px;
}

.registration .innovative-teaching .title {
  color: white;
  font-size: 29px;
  padding: 20px;
  height: 82px;
  font-weight: 500;
  background: #66bb22;
}

.registration .innovative-teaching .content {
  padding: 25px 30px;

  background: #205020;
}

.registration .acolhimento .title {
  color: darkblue;
  font-size: 29px;
  padding: 20px;
  height: 82px;
  font-weight: 500;
  background: #ffa334;
}

.registration .acolhimento .content {
  padding: 25px 30px;

  background: #dac30e;
}

.registration .acolhimento .text {
  color: #4a68bd;
}

.registration .agende-sua-visita {
  display: grid;
  gap: 10px;
  grid: auto/repeat(auto-fit, minmax(400px, 500px));
  justify-content: center;
  margin-bottom: 60px;
}

.registration .agende-sua-visita .btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.registration .agende-sua-visita .content {
  background: #416fa4;
  color: white;
  padding: 40px;
  height: 300px;
}

.registration .agende-sua-visita .form {
  padding: 30px;
  background: #416fa4;
  height: 400px;
}

.registration .agende-sua-visita .input {
  padding: 10px;
}

.registration .agende-sua-visita .submit-button {
  background: #ffd756;
  color: white;
  font-size: 22px;
  text-align: center;
  padding: 10px;
}

.projects .projects .project-title {
  font-size: 32px;
  color: darkblue;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 20px;
}

.projects .projects .project {
  display: grid;
  grid: auto/1fr 1.5fr;
  gap: 25px;
}

.projects .project .content-1 {
  display: flex;
  flex-direction: column;
}

.projects .project .content-2 {
  display: grid;
  grid: auto/1fr 1fr;
  gap: 30px;
}

.projects .project .image-1 {
  margin-bottom: 30px;
  border: 2px solid;
}

.projects .project .content-title {
  font-size: 20px;
  color: green;
  font-weight: 500;
  text-transform: uppercase;
}

.projects .project .text {
  display: flex;
}

.projects .project .text-2,
.projects .project .text-3 {
  color: green;
}

.projects .title-container {
  display: flex;
  gap: 80px;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 30px;
}

.projects .title-container .title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.projects .title-container .subtitle {
  font-weight: 500;
  font-size: 24px;
}

.our-history .our-history {
  display: flex;
  flex-direction: column;
}

.our-history .our-history .content {
  display: grid;
  grid: auto/1fr 1fr;
  gap: 30px;
}

.our-history .our-history .title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.our-history .our-history .text {
  font-size: 22px;
  font-weight: 500;
}

.our-history .our-history .image {
  height: 500px;
  background: gray;
}

.our-history .documentary .title {
  font-size: 42px;
  font-weight: bold;
}

.tv-cr .movie {
  margin-bottom: 100px;
}

.tv-cr .movie .category {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tv-cr .movie {
  display: grid;
  grid: auto/repeat(auto-fit, minmax(min-content, 500px));
  gap: 20px;
  justify-content: space-between;
}

.tv-cr .movie .title {
  font-size: 23px;
  text-transform: uppercase;
  color: #676767;
  font-family: cursive;
}

.schedule-visit .form {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 80px;
}

.schedule-visit .label {
  margin-left: 30px;
  font-weight: 500;
}

.schedule-visit .form-control {
  display: flex;
  flex-direction: column;
}

.schedule-visit .input {
  background: #fde089;
  border-radius: 9px;
  height: 55px;
  padding: 20px;
}

.schedule-visit-button {
  background: #ffc253;
  width: fit-content;
  padding: 16px 34px;
  font-weight: 500;
  border-radius: 12px;
  align-self: flex-end;
}

.schedule-visit .captcha {
  width: 300px;
  background: #d9d9d9;
}

.schedule-visit .form-actions {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.schedule-visit .education-level {
  max-width: 1200px;
  margin: auto;
}

.schedule-visit .education-level-item {
  display: grid;
  justify-content: center;
  grid: minmax(100px, 130px) 1.6fr / auto;
}

.schedule-visit .education-level .title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
}

.schedule-visit .education-level-item .title {
  font-size: 35px;
  text-transform: none;
  color: #fdc723;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact .input-textarea {
  height: 260px;
}

.work-with-us .form .description {
  margin-bottom: 40px;
  margin-left: 30px;
}

.work-with-us .form .title {
  text-transform: uppercase;
  font-weight: 500;
}

.work-with-us .form .text {
  font-weight: 500;
}

.work-with-us .attach-resume-button {
  background: #ffc253;
  width: fit-content;
  padding: 16px 34px;
  font-weight: 500;
  border-radius: 12px;
  align-self: flex-end;
}

.work-with-us .container {
  max-width: 1200px;
  margin: auto;
}

.work-with-us .form {
  margin-bottom: 50px;
  max-width: 700px;
}

.work-with-us .input {
  background: #fde089;
  border-radius: 9px;
  height: 55px;
  padding: 20px;
  margin-left: -10px;
  width: 100%;
}

.work-with-us .input::placeholder {
  color: black;
}

.work-with-us .form-control {
  margin-bottom: 60px;
}

.work-with-us .form-actions {
  display: flex;
  justify-content: space-between;
}

/*/////// Carousel ///////*/

/* #app {
  height: 100%;
} */
/* html,
body {
  position: relative;
  height: 100%;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
