@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/*//////////////////////    RESET     ////////////////*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
  font-family: sans-serif;
}

.hero {
  width: 100%;
  /* width: 100vw;; */
  height: auto;
  margin-bottom: calc(3.5vw + 1rem);
  height: calc(27vw + 7rem);
}

.hero.height-auto {
  height: auto;
}

.reregistration.hero {
  min-height: 116px;
  max-height: 170px;
  height: calc(6vw + 9rem);
  background-size: cover;
}

.hero img {
  height: 100%;
  object-fit: cover;
}

.main-container {
  width: 100%;
}

.index .hero {
  /* height: 31.3vw; */
  height: calc(27vw + 7rem);
}

@media (max-width: 1920px) {
  .reregistration.hero {
    min-height: 116px;
    max-height: 170px;
    background-size: initial;
    height: calc(6vw + 9rem);
  }
}
/*/ ////*/

/*/ /////////////////////   COMMON    ////////////////*/
img {
  width: 100%;
}

.title h3 {
  color: black;
  /* font-size: 45px; */
  font-size: calc(0.5vw + 2.2rem);
  text-transform: uppercase;
  font-weight: bold;
}

.subtitle {
  font-size: 23px;
  line-height: 1.4;
}

.hero {
  margin-bottom: calc(3.5vw + 1rem);
}

.mySwiper {
  min-height: 31vw;
}

.article .text {
  justify-content: unset;
  color: black;
}

.article .article-title {
  font-size: 31px;
  font-weight: 500;
}

.article--colorful-bg {
  background: #06706c;
  padding: 2rem;
}

.article--colorful-bg .text {
  color: white;
}
/*/ ////*/

/*/ /////////////  Education level LIST    //////////*/

.novicesModal .closeButton {
  position: absolute;
  margin: 0;
  padding: 0;
  min-width: auto;
  color: black;
  font-size: 19px;
  top: 17px;
  right: 11px;
}

.novicesModal .form {
  gap: 0.3rem;
  margin: 0.5rem 0;
}

.novicesModal .description {
  line-height: 1.25;
  padding: 0.6rem 0;
}

.novicesModal .submit {
  width: 100%;
  background: #f2bb00;
  font-size: 23px;
  color: #004389;
  font-weight: bold;
}

.novicesModal .image {
  background: #f2bb00;
  padding: 0.6rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.novicesModal .image-legend {
  margin-top: 2rem;
  text-transform: uppercase;
  color: #004389;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 1rem;
}

/*/ ////*/

/*/ /////////////  Education level LIST    //////////*/
.education-level-list {
  display: grid;
  justify-content: center;
  grid: auto/repeat(auto-fit, minmax(200px, 595px));
  gap: 5px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: calc(3.5vw + 1rem);
}

.education-level-item {
  display: flex;
}

.education-level-item a {
  display: flex;
  flex-direction: column;
}

.education-level-item .image {
  height: 100%;
  display: flex;
}

.education-level-item .title-container {
  background: #1e4085;
  padding: 15px 25px;
}

.education-level-item .title {
  font-size: calc(0.5vw + 1.5rem);
  text-transform: none;
  color: #fdc723;
  font-weight: bold;
  margin-bottom: 15px;
}

.education-level-item .subtitle {
  color: white;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.education-level-item .more-btn {
  font-size: 15px;
  text-transform: none;
  color: #fdc723;
  text-decoration: underline;
}
/*/ ////*/

/*//////////////   NAV    //////////*/
.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  background: #ffd24a;
  height: 70px;
}

.topbar-nav {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  justify-content: flex-end;
  padding-right: 70px;
  color: #002f90;
  margin: 0 auto 2px auto;
}

.student-guide {
  border-right: 1px solid #002f90;
  padding-right: 20px;
}

.navbar {
  height: 110px;
  display: flex;
  flex-wrap: wrap;
}

.navbar .logo {
  min-width: 140px;
}

.navbar-item {
  position: relative;
  text-align: center;
}

.navbar-item--dropdown .navbar-sub-menu {
  display: none;
  padding: 0;
  position: absolute;
  left: -1px;
  font-size: 16px;
  font-weight: normal;
}

.navbar-item--dropdown:hover .navbar-sub-menu {
  display: block;
  z-index: 2;
  background: white;
  padding: 10px 10px;
  left: -11px;
}

.navbar-item--dropdown:first-child:hover .navbar-sub-menu {
  /* left: -29px; */
  left: -15px;
  padding: 1rem;
  width: 90px;
}

.navbar-item--dropdown .navbar-sub-menu li:hover {
  text-decoration: underline;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 100%;
  align-items: center;
}

.navbar-end {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  height: 100%;
  flex-wrap: wrap;
}

.navbar-menu {
  display: flex;
  list-style: none;
  color: #002f90;
  font-size: 17px;
  gap: 35px;
  font-weight: bold;
}

.navbar-schedule-button {
  align-self: flex-start;
}

.schedule-button {
  color: white;
  background: #003a7a;
  clip-path: polygon(13% 100%, 0 0, 100% 0, 100% 100%, 60% 100%);
  border-radius: 0 0 0.6rem 2.5rem;
  padding: 0.6rem 2.8rem 0.6rem 3.8rem;
  font-size: 14px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.navbar-mobile {
  display: none;
}

.footer-address-mobile {
  display: none;
}

@media (max-width: 670px) {
  .navbar .logo {
  }

  .navbar-wrapper {
    flex-direction: column;
    height: 90px;
  }

  .navbar-wrapper .logo {
    display: none;
  }

  .navbar-mobile .logo {
    display: block;
  }

  .navbar-schedule-button {
  }

  .navbar-menu {
    gap: 2%;
  }

  .navbar-end {
    order: 1;
  }

  .navbar-end .navbar-schedule-button {
    display: none;
    justify-content: center;
  }

  .navbar-mobile {
    display: flex;
  }

  .footer {
    flex-direction: column;
  }

  .footer-address {
    display: none;
  }

  .footer-address-mobile {
    display: block;
    margin-top: 2rem;
  }
}
/*/ ////*/

/*/ /////////////////////////     AGENDE SUA VISITA    ////////////////////////*/
.agende-sua-visita .text-content {
  text-align: left;
  max-width: 344px;
}

.agende-sua-visita .title {
  font-size: 35px;
}

.agende-sua-visita .form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.agende-sua-visita .input {
  background: #d7d785;
  border-radius: 5px;
  border: none;
  height: 25px;
  width: 100%;
}

.agende-sua-visita.submit-schedule-button {
  background: yellow;
  border-radius: 6px;
  border: 0;
}
/*/////*/

/*/////*/
/*/ /////////////////////////       PROJETOS          ////////////////////////*/
.projects {
  margin-bottom: calc(3.5vw + 1rem);
}

.projects .project-list {
  display: grid;
  justify-content: center;
  grid: auto/repeat(auto-fit, minmax(min-content, 395px));
  gap: 5px;
  max-width: 1200px;
  margin: auto;
}

.projects .title-subtitle {
  display: flex;
  gap: 70px;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.projects .project-item {
  display: flex;
  border: 2px solid black;
}
/*/////*/

/*/ /////////////////////////       REMATRÍCULA          ////////////////////////*/
.reregistration .reregistration-section {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 1rem;
  padding: 0 2%;
}

.reregistration .reregistration-section {
  margin-bottom: calc(3.5vw + 1rem);
}

.registration .image-title {
  margin-bottom: 40px;
}

.reregistration .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2.5rem;
}

.reregistration .title--upper {
  text-transform: uppercase;
}

.reregistration .text {
  margin-bottom: 2rem;
}

.reregistration .edital-button {
  background: #ffc253;
  width: fit-content;
  padding: 16px 34px;
  font-weight: 500;
  border-radius: 12px;
}

.reregistration .action {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
}

.reregistration .action .text {
  margin: 0;
}

.reregistration .texts {
  display: flex;
  flex-direction: column;
}
/*/////*/

/*/ /////////////////////////       PROJETOS          ////////////////////////*/
.project-school-level {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.projects-page .project-list {
  display: flex;
  flex-direction: column;
  gap: 7vh;
}

/*/ /////////////////////////     SÓCIO INTERACIONISTA    ////////////////////////*/
.interacionist-partner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: calc(3.5vw + 1rem);
}

.interacionist-partner .article {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

.interacionist-partner .title {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
}

.interacionist-partner .content {
  gap: 40px;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(min-content, 580px));
  justify-content: center;
  margin-bottom: calc(3.5vw + 1rem);
}

.interacionist-partner .image {
  gap: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.interacionist-partner .highlighted {
  font-size: 35px;
  margin-left: 10px;
  font-style: normal;
}

.interacionist-partner .text {
  flex: 1;
  font-size: 17px;
  font-weight: 500;
}

/*/ /////////////////////////     MATRÍCULAS ABERTAS    ////////////////////////*/
.open-enrollment {
  display: flex;
  justify-content: center;
  margin-bottom: calc(5.5vw + 2rem);
  display: grid;
  justify-content: center;
  grid: auto/repeat(auto-fit, minmax(min-content, 595px));
  gap: 5px;
}

.open-enrollment .title {
  font-size: calc(0.5vw + 2.2rem);
  color: black;
  max-width: 90px;
  font-weight: bold;
}

.open-enrollment .action {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #d6e0f4;
  justify-content: flex-end;
  padding: 40px;
}

.open-enrollment .schedule-visit {
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  width: 360px;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: #15387f;
}

@media (max-width: 770px) {
  .open-enrollment .schedule-visit {
    width: auto;
  }
}
/*/ ////*/

/*/ /////////////////////////     PARCEIROS    ////////////////////////*/
.partners {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

.partners .partners-list {
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: calc(3.5vw + 1rem);
  display: grid;
  grid: auto/repeat(auto-fit, minmax(auto, 135px));
}

@media (max-width: 770px) {
  .partners h3 {
    text-align: center;
  }
}
/*/ ////*/

/*/ /////////////////////////     FOOTER    ////////////////////////*/
.footer {
  font-size: 15px;
  display: flex;
  background: #464646;
  color: white;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 140px;
}

.footer .footer-wrapper {
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  display: flex;
}

.footer .channel-menu {
  display: flex;
  flex-direction: column;
  color: yellow;
  list-style: none;
  gap: 10px;
}

.footer .phones {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.footer .phones .title {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.footer .pages-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.footer .footer-start {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer .footer-center {
  display: flex;
  align-items: flex-end;
  margin-bottom: -40px;
}

.footer .footer-end {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.footer .enroll {
  background: #ffc253;
  display: flex;
  height: 32px;
  justify-content: center;
  border-radius: 10px;
  width: 190px;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #424242;
  padding: 0;
  margin-bottom: calc(3.5vw + 1rem);
}

.footer .social-medias {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  list-style: none;
}

.footer .social-medias img {
  max-width: 35px;
  width: fit-content;
}

.footer .whatsapp-btn {
  margin-top: 40px;
}

.footer .whatsapp-btn img {
  width: 70px;
}

.footer .facebook-logo {
  height: 1.6rem;
  width: 1.8rem;
}

.footer .instagram-logo {
  width: 1.8rem;
  height: 1.7rem;
}

.footer .youtube-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.footer .sectors {
  display: flex;
  gap: 20px;
}

.footer .sectors-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footer .sectors-item {
  text-align: right;
}
/*/ ////*/

/*/ /////////////////////////     NOSSA HISTÓRIA    ////////////////////////*/
.our-history {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-bottom: calc(3.5vw + 1rem);
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.our-history .video iframe {
  width: 560px;
  height: 315px;
}

.our-history .title-subtitle {
  flex: 1;
  min-width: 345px;
}

.our-history .subtitle {
  max-width: 700px;
  margin: auto;
}

.our-history-span {
  margin-left: 1rem;
  display: block;
}

.our-history .texto {
  text-align: left;
  font-size: 21px;
}

.our-history .title {
  margin-bottom: 30px;
  font-size: calc(2vw + 1.1rem);
}

.our-history a {
  max-width: 372px;
  display: block;
  margin: auto;
}
/*/ ////*/

/*/ /////////////////////////     NOSSA HISTÓRIA    ////////////////////////*/
.our-history-page .article {
  gap: 50px;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(min-content, 570px));
  justify-content: center;
  background: unset;
}

.our-history-page .article:nth-child(2) {
  grid: auto/repeat(auto-fit, minmax(min-content, 540px));
}

.our-history-page .image,
.our-history-page .text {
  flex: 1;
}

.our-history-page .article-title {
  font-size: 26px;
  margin-bottom: 30px;
}

.our-history-page .articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: calc(3.5vw + 1rem);
}

.our-history-page .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.our-history-page .documentary {
  max-width: 1200px;
  margin: auto;
  margin-bottom: calc(3.5vw + 1rem);
}

.our-history-page .documentary .title {
  font-size: 42px;
  font-weight: bold;
}

@media (max-width: 770px) {
  .our-history .video iframe {
    width: 320px;
    height: 215px;
  }
}
/*/ ////*/

/*//////////// ENSINO INFANTIL ////////////*/

.ensino-infantil .article {
  gap: 50px;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(min-content, 500px));
  justify-content: center;
}

.ensino-infantil .image,
.ensino-infantil .text {
  flex: 1;
}

.ensino-infantil .article-title {
  font-size: 26px;
  margin-bottom: 30px;
}

.ensino-infantil .articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: calc(3.5vw + 1rem);
}

.ensino-infantil .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ensino-infantil .pages-menu {
  display: flex;
  background: green;
  width: fit-content;
  padding: 8px 25px;
  border-radius: 13px;
  color: white;
  gap: 15px;
  align-self: flex-end;
}

.ensino-infantil .pages-menu-item {
  border-right: 1px solid;
  padding-right: 14px;
}

.ensino-infantil .pages-menu-item:last-child {
  border: none;
}

.ensino-infantil {
}
/*/ ////*/

/*//////////// REGISTRATION ////////////*/
.registration {
  margin-bottom: 4rem;
}

.registration.hero {
  min-height: 116px;
  max-height: 170px;
  background-size: cover;
  height: calc(6vw + 9rem);
}

.registration .topics {
  display: grid;
  gap: 2rem 0.5rem;
  max-width: 1200px;
  margin: auto;
  /* grid-template-columns: repeat(auto-fit, minmax(500px, 595px)); */
  grid-template-columns: repeat(auto-fit, minmax(320px, 595px));
  justify-content: center;
  margin-bottom: 1.5rem;
}

.registration .welcome .title {
  background: #ab0505;
  padding: 2% 6%;
  font-weight: 500;
  height: 62px;
  font-size: 26px;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  padding-left: 2rem;
}

.registration .welcome .text-1 {
  padding: 25px 30px;
  font-weight: 500;
  color: #023878;
}

.registration .welcome .text-2 {
  background: #85329a;
  font-weight: 500;
  color: white;
  padding: 25px 30px;
}

.registration .roseland-family .title {
  color: #f9eeb8;
  font-size: 26px;
  background: #42428d;
  padding: 20px;
  height: 62px;
  font-weight: 500;
  align-items: center;
  display: flex;
  padding-left: 2rem;
}

.registration .roseland-family .content {
  background: #5867cc;
  padding: 25px 30px;
  font-weight: 500;
  height: 80%;
}

.registration .innovative-teaching .title {
  color: white;
  font-size: 26px;
  font-weight: 500;
  padding: 20px;
  height: 62px;
  background: #78a612;
  align-items: center;
  display: flex;
  padding-left: 2rem;
}

.registration .innovative-teaching .content {
  padding: 25px 30px;
  font-weight: 500;
  color: white;
  background: #354a09;
}

.registration .acolhimento .title {
  color: #003b77;
  font-size: 26px;
  padding: 20px;
  height: 62px;
  font-weight: 500;
  background: #f7b006;
  align-items: center;
  display: flex;
  padding-left: 2rem;
}

.registration .acolhimento .content {
  padding: 25px 30px;
  height: 76%;
  background: #f5cf0a;
  font-weight: 500;
}

.registration .acolhimento .text {
  color: #4a68bd;
  font-weight: 500;
}

.registration .agende-sua-visita {
  display: grid;
  gap: 10px;
  grid: auto/repeat(auto-fit, minmax(400px, 500px));
  justify-content: center;
  margin-bottom: calc(3.5vw + 1rem);
}

.registration .registration-schedule-visit {
  position: absolute;
  left: 34%;
  transform: translate(50%, 0);
  top: -7%;
}

.registration .agende-sua-visita .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registration .agende-sua-visita .content {
  background: #25678a;
  position: relative;
  color: white;
  padding: 40px;
  height: 300px;
  font-weight: 500;
}

.registration .agende-sua-visita .form {
  padding: 30px;
  background: #25678a;
  height: 400px;
}

.registration .agende-sua-visita .input {
  padding: 1rem 0.6rem;
  background-color: white;
  border-radius: 0;
}

.registration .agende-sua-visita .submit-button {
  background: #f7be0f;
  color: white;
  font-size: 22px;
  text-align: center;
  padding: 8px;
  width: 85%;
  margin: 0 auto;
}

.registration .agende-sua-visita .registration-inform {
  background: #f7be0f;
  font-size: 22px;
  text-align: center;
  padding: 8px;
  width: 85%;
  margin: 0 auto;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #25678a;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1009px) {
  .registration .registration-schedule-visit {
    position: absolute;
    left: 0;
    transform: translate(50%, 0);
    top: 93%;
  }
}

@media (max-width: 1197px) {
  .registration .welcome .title {
    height: 82px;
  }
}

/*////////////*/

.projects .projects {
  padding: 1.5rem;
}

.projects .projects .project-title {
  font-size: 32px;
  color: darkblue;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 20px;
}

.projects .projects .project {
  display: grid;
  grid: auto/1fr 1.5fr;
  gap: 25px;
}

.projects .projects .project.two-columns {
  grid: auto/100%;
}

.projects .project .content-1 {
  display: flex;
  flex-direction: column;
}

.projects .project .content-1.solo {
  max-width: 470px;
  width: 43%;
}

.projects .project .content-2 {
  display: grid;
  grid: auto/1fr 1fr;
  gap: 30px;
}

.projects .project .image-1 {
  margin-bottom: 30px;
  border: 2px solid;
}

.projects .project .content-title {
  font-size: 20px;
  color: green;
  font-weight: 500;
  text-transform: uppercase;
}

.projects .project .text {
  display: flex;
}

.projects .project .text-2,
.projects .project .text-3 {
  color: green;
}

.projects .title-container {
  display: flex;
  gap: 80px;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 30px;
}

.projects .title-container .title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.projects .title-container .subtitle {
  font-weight: 500;
  font-size: 24px;
}

.our-history .our-history {
  display: flex;
  flex-direction: column;
}

.our-history .our-history .content {
  display: grid;
  grid: auto/1fr 1fr;
  gap: 30px;
}

.our-history .our-history .title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.our-history .our-history .text {
  font-size: 22px;
  font-weight: 500;
}

.our-history .our-history .image {
  height: 500px;
  background: gray;
}

.our-history .documentary .title {
  font-size: 42px;
  font-weight: bold;
}

.tv-cr-container {
  max-width: 1050px;
  margin: auto;
}

.tv-cr .movie {
  margin-bottom: 100px;
}

.tv-cr .video {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tv-cr .title {
  margin-bottom: 2rem;
}

.tv-cr .videoTitle {
  font-weight: bold;
  color: #5a5a5a;
}

.tv-cr .description {
  font-size: 15px;
  color: #5a5a5a;
}

.tv-cr .movie .category {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tv-cr .movie {
  display: grid;
  grid: auto/repeat(auto-fit, minmax(min-content, 500px));
  gap: 20px;
  justify-content: space-between;
}

.tv-cr .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}

.tv-cr .projectTitle {
  text-transform: uppercase;
  font-family: cursive;
  margin-bottom: 1rem;
  font-size: 19px;
  color: #5a5a5a;
}

.schedule-visit .form {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-bottom: calc(3.5vw + 1rem);
}

.schedule-visit .label {
  margin-left: 30px;
  font-weight: 500;
}

.schedule-visit .form-control {
  display: flex;
  flex-direction: column;
}

.schedule-visit .input {
  background: #fde089;
  border-radius: 9px;
  height: 55px;
  padding: 20px;
}

.schedule-visit-button {
  background: #ffc253;
  width: fit-content;
  padding: 16px 34px;
  font-weight: 500;
  border-radius: 12px;
  align-self: flex-end;
}

.schedule-visit .captcha {
  width: 300px;
  background: #d9d9d9;
}

.schedule-visit .form-actions {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.schedule-visit .education-level {
  max-width: 1200px;
  margin: auto;
}

.schedule-visit .education-level-item {
  display: grid;
  justify-content: center;
}

.schedule-visit .education-level .title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
}

.schedule-visit .education-level-item .title {
  font-size: 35px;
  text-transform: none;
  color: #fdc723;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact .input-textarea {
  height: 260px;
}

.contact .hero {
  height: auto;
}

.work-with-us .hero {
  height: auto;
}

.work-with-us .form .description {
  margin-bottom: 40px;
  margin-left: 30px;
}

.work-with-us .form .title {
  text-transform: uppercase;
  font-weight: 500;
}

.work-with-us .form .text {
  font-weight: 500;
}

.work-with-us .attach-resume-button {
  background: #ffc253;
  width: fit-content;
  padding: 16px 34px;
  font-weight: 500;
  border-radius: 12px;
  align-self: flex-end;
  cursor: pointer;
}

.work-with-us .fileInput {
  display: none;
}

.work-with-us .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.work-with-us .form {
  margin-bottom: 50px;
  max-width: 700px;
}

.work-with-us .input {
  background: #fde089;
  border-radius: 9px;
  height: 55px;
  padding: 0 20px;
  margin-left: -10px;
  width: 100%;
}

.work-with-us .input::placeholder {
  color: black;
}

.work-with-us .form-control {
  margin-bottom: calc(3.5vw + 1rem);
}

.work-with-us .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/*/////// Carousel ///////*/

/* #app {
  height: 100%;
} */
/* html,
body {
  position: relative;
  height: 100%;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.legend {
  top: 70%;
  position: absolute;
  background: #000000d1;
  height: 9rem;
  color: white;
  /* font-size: calc(1vh + 0.6rem); */
  font-size: calc(0.7vw + 0.7rem);
  padding: 1%;
  max-width: 50%;
  min-width: 320px;
  left: 5%;
  text-transform: uppercase;
  text-align: left;
  border-bottom: #f03c02 5px solid;
}

@media (max-width: 770px) {
  .legend {
    top: 40%;
  }
}
